* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

body {
  margin: 1em 5em 1em 5em;
  min-width: 33em;
}

/* BANNER */
header {
  background-color: #4f6d7a;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

nav {
  align-items: center;
  background-color: #4f6d7a;
  display: flex;
  justify-content: flex-start;
  padding: 1em;
}

button {
  background-color: #e8dab2;
  border: none;
  height: 2em;
  margin: 1em 2.5em 1em 1em;
}

h4, .message {
  padding: 1em;
}

.page-title {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.banner-icons {
  background-color: #dd6e42;
  border-radius: 50%;
  height: 2em;
  margin-right: -.5em;
  width: 2em;
}

.banner-heart, .banner-frying-pan {
  filter: invert(1);
  margin: .25em;
  width: 1.5em;
}

/* MAIN PAGE */
.main-page, .favorite-recipes, .recipes-to-cook {
  background-color: #c0d6df;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1em;
}

.recipe-card {
  align-items: center;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.icon {
  filter: invert(1);
  margin: .5em;
  width: 2.5em;
}

.recipe-image {
	width: 100%;
}

.recipe-graphics {
  display: flex;
}


div {
  background-color: #dd6e42;
  border-radius: 50%;
  display: flex;
  margin: .5em;
  width: 3em;
}

/* RECIPE PAGE */
.recipe-page {
  background-color: #c0d6df;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1em;
}

.recipe-page-image {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
}

.recipe-page-name {
  background-color: #eaeaea;
  grid-area: 2 / 1 / 3 / 2;
  padding: 1em;
}

.tags {
  background-color: #eaeaea;
  grid-area: 3 / 1 / 4 / 2;
  padding: 1em;
}

.ingredients {
  background-color: #eaeaea;
  grid-area: 1 / 2 / 2 / 3;
  padding: 1em;
}

.instructions {
  background-color: #eaeaea;
  grid-area: 2 / 2 / 4 / 3;
  padding: 1em;
}

.hidden {
  display: none;
}
